<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sistemas.gsjetapa1" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/company_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cuajado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cuajado_sel_tina"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fundido"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Producto_Terminado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Texturizador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Empaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exportar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Configuracion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cuajado_lista"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cuajado_parte2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Texturizador_Edit"
            android:label="@string/title_activity_texturizador__switch"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Registro_Productos"
            android:label="@string/title_activity_registro__productos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Administrador"
            android:label="@string/title_activity_administrador"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Laboratorio_Calidad"
            android:label="@string/title_activity_laboratorio__calidad"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Realizados"
            android:label="@string/title_activity_realizados"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Registro_Familias"
            android:label="@string/title_activity_registro__familias"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Registro_Texturizador"
            android:label="@string/title_activity_registro_texturizador"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Panel_Lab"
            android:label="@string/title_activity_panel_lab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Crema_Lab"
            android:label="@string/title_activity_crema__lab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Cuajadas_Lab"
            android:label="@string/title_activity_cuajadas__lab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Detector_Metales"
            android:label="@string/title_activity_detector__metales"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Requeson_Lab"
            android:label="@string/title_activity_requeson__lab" >
        </activity>
    </application>

</manifest>
